.container{
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding: 20px 10px;
	box-sizing: border-box;

	*{
		box-sizing: border-box;
	}
	
	.topo{
		width: 100%;

		&-logo{
			width: 100%;
			max-width: 229px;

			img{
				width: 100%;
			}
		}
	}
	&-select{
		background: #ddd;
	    color: #000;
	    border: 1px solid #aaa;
	    height: 30px;
	    font-size: 15px;
	    font-family: Tahoma, Arial;
	    line-height: 16px;
	    margin: 40px 0;
	    width: 100%;
	    outline: none;
	}
	&-valor{
	    width: 30%;
	    display: inline-block;
	    vertical-align: top;
	    border: 1px solid #ccc;
	    padding: 15px;
	    box-sizing: border-box;
	    font-size: 20px;
	    font-family: Arial;
	    font-weight: bold;
	    border-radius: 5px;
	    color: #0661aa;

	    span{
	    	display: block;
	    	margin-top: 15px;
	    	color: #49c3ce;
	    	font-size: 30px;
	    }
	}
    &-stars{
    	background: transparent url(../images/star.png) right center no-repeat;
    	background-size: 30%;
    }
    &-forks{
    	margin: 0 4.2%;
    	background: transparent url(../images/forks.png) right center no-repeat;
    	background-size: 30%;
    }
    &-contribs{
    	background: transparent url(../images/contribs.png) right center no-repeat;
    	background-size: 30%;
    }

	
	&-aviso{
		color: #ef4043;
		margin-top: 20px;
		font-weight: bold;
		text-transform: uppercase;
		font-family: Arial, Tahoma;
		font-size: 13px;
	}
	&-grafico{
		margin-top: 30px;
		width: 100%;
	}
}

@media all and (max-width: 320px){
	.container{
		padding: 0 10px;

		&-select{
			margin: 20px 0;
		}

		&-valor{
			width: 100%;
			margin-bottom: 10px; 
		}
		&-forks{
			margin: 0 0 10px 0;
		}
	}
}
