<!DOCTYPE html>
<html lang="pt-br" ng-app="listaRepositorio">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MundiPagg - Lista de Repositórios</title>
    <link rel="shortcut icon" href="http://novo.mundipagg.com/wp-content/uploads/2017/04/logo-mundipagg-icon.png">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <div class="container">
        <div class="topo">
        	<div class="topo-logo">
        		<a href="https://www.mundipagg.com/" target="_blank">
        			<img src="images/logo-mundipagg.png" title="Mundipagg">
        		</a>
            </div>
        </div>     

        <div ng-controller="RepositorioController as lista">
            <select class="container-select" ng-options="repo.name for repo in lista.repositorios | orderBy: 'name'" ng-model="selectedItem" ng-change="lista.getInfos(selectedItem)">
                <option value=""><< Escolha um repositório >></option>
            </select>

            <div class="container-valor container-stars"> Stars: <span>{{ selectedItem.stargazers_count}}</span> </div>
            <div class="container-valor container-forks"> Forks: <span>{{ selectedItem.forks_count}}</span> </div>
            <div class="container-valor container-contribs"> Contribs: <span>{{ lista.totalContribs }}</span> </div>
            
            
            <div class="container-aviso" ng-show="lista.commits.length == 0 && selectedItem">Esse repositório não possui nenhum commit.</div>
            <div class="container-grafico" id="grafico" ng-hide="!lista.commits.length > 0"></div>
        </div>

    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/loader.js"></script>
    <script src="js/grafico.js"></script>
    <script src="js/app.js"></script>
</body>

</html>